
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    .project-icon {
        font-size: 14rem;
    }

}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display:none;
    }
    #hamburger-nav {
        display: flex;
    }

    .project-icon {
        font-size: 10rem;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

}
@media screen and (max-width: 1200px) and (min-width: 600px) {
    .about-pic {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 765px) {
    #about {
        padding-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    #about {
        padding-top: 200px;
    }

    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a{
        font-size: 1rem;

    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: row;
        gap: .5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .seciton__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
    
    .hamburger-icon.open {
        transform: translateX(0px);
    }

    .contact-info-upper-container {
        gap: 1rem;
    }

    .project-icon {
        font-size: 6rem;
    }

}


@media screen and (max-width: 500px) {
    #about {
        padding-top: 250px;
    }
}

@media screen and (max-width: 400px) {
    #about {
        padding-top: 300px;
    }

    .project-icon {
        font-size: 4rem;
    }
}